@font-face {
    font-family: Vtks LaPrensitcha;
    src: url('Vtks LaPrensitcha.ttf');
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/graffitiBg.jpg");
}

h1 {
    color: white;
}

p {
    color: white;
}

img {
    width: 15em;
    height: 15em;
}