html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/prism.png");
}

.container {
    background-color: white;
    margin-top: 7%;
    border: inset rgba(0, 0, 255, .7);
    box-shadow: 1% 1% 1% 1%;

}

h1 {
    background-color: rgba(0, 0, 255, .1);
    color: black;
    border: 1px solid blue;
    margin: 3% 0 3% 0;
}

p {
    color: black;
}

img {
    width: 12em;
    height: 15em;
}

.footer-margin {
    height: 100%;
}