@font-face {
    font-family: Vtks LaPrensitcha;
    src: url('Vtks LaPrensitcha.ttf');
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/prism.png");
}

.container {
    background-color: white;
    margin-top: 7%;

}

h1 {
    color: black;
}

p {
    color: black;
}

img {
    width: 15em;
    height: 15em;
}